{
    "processors": [
        "stylelint-processor-styled-components"
    ],
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-styled-components"
    ],
    "overrides": [
        {
            "files": [
                "**/*.ts",
                "**/*.tsx",
                "**/*.js",
                "**/*.jsx"
            ],
            "customSyntax": "@stylelint/postcss-css-in-js"
        }
    ]
}